{{#if noContent}}
  <h2>No Content</h2>
{{else}}
  {{yield this}}
{{/if}}

{{#if paginate}}
  {{in-viewport-checker on-enter-viewport=(action 'viewportEntered')}}
  <div class="justa-table-loader {{if isLoading 'loading' 'loaded'}}"></div>
{{/if}}
